@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Thasadith', sans-serif;
}

* {
   margin: 0px; 
   padding: 0px;
}

body {
    background-color:var(--cor0);
    font-family: var(--fonte-destaque);
}

a.externo::after {
    content: ' \1F517';
}


header {
    background-image: linear-gradient(to bottom, var(--cor5), var(--cor3) );
    color: white;
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

header h1 {
    color: white;
    margin-bottom: 20px;
    font-size: 5em;
}

header p {
    color: white;
    font-size: 2em;
}

nav {
    background-color: var(--cor5);
    color: white;
    padding: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.548);
    font-weight: bold;
    text-align: center;
}

nav > a {
    color: white;
    text-decoration: none;
    padding: 15px;
    padding-right: 15px;
    border-radius: 3px;
}

nav > a:hover {
    background-color: #2fa866;
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.295);
    margin-bottom: 30px;
    border-radius: 0px 0px 15px 15px;
}

main h1 {
    font-size: 2em;
}

main p {
    text-align: justify;
    text-indent: 30px;
    padding: 10px 0px;
    line-height: 1.5em;
    font-size: 1.2em;
}

main strong {
    color: var(--cor3);
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -30px 30px -30px;
    padding: 20px;
    padding-bottom: 57.7%;
    position: relative;
}

div.video iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer {
    background-color: var(--cor5);
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
}

aside {
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.137);
}

aside h3 {
    background-color: var(--cor5);
    color: white;
    font-weight: bold;
    font-size: 1.4em;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside ul {
    list-style-position: inside;
    columns: 2;
}

footer a {
    color: white;
    background-color: var(--cor4);
    text-decoration: none;
    padding: 3px;
}

footer a:hover {
    background-color: var(--cor3);
    font-weight: bold;
}
